img {
  width: 100%;
}

a {
  margin: 5pt 0 5pt 0;
  text-decoration: none;
  color: #799ba5;
}

h2,
h3 {
  margin: 5pt 0 5pt 0;
}

ul {
  list-style-type: disc;
}

li {
  font-family:
    "Source Sans Pro",
    -apple-system,
    BlinkMacSystemFont;
  font-size: 15pt;
  line-height: 25pt;
}
